{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body %}

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Witaj {{ app.user.username }}</span>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">Wyloguj</a></li>
            </ul>
        </div>
    </div>

    <ul class="pager">
        {% block pager %}{% endblock %}
    </ul>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">{{  flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{  flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">{{  flashMessage }}</div>
    {% endfor %}


    {% block content %}{% endblock %}

{% endblock %}

