{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}
    Leszek Pawlak - BitNoise Project
{% endblock %}

{% block body %}

    {% if error %}
    <div>{{ error.message }}</div>
    {% endif %}
    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Panel logowania</h2>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required autofocus/>
        <input class="form-control" type="password" id="password" name="_password" placeholder="Hasło" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
    </form>

{% endblock %}