{% extends 'BitNoiseBundle::layout.html.twig' %}

{% block pager %}
    <li class="previous"><a href="{{ path('_index') }}">Powrót</a></li>
{% endblock %}

{% block content %}
    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('_index') }}">Anuluj</a>
{% endblock %}
