{% extends 'BitNoiseBundle::layout.html.twig' %}

{% block pager %}
    <li class="previous"><a href="{{ path('_index') }}">Powrót</a></li>
{% endblock %}

{% block content %}

    {{ form(form) }}
    <a class="btn btn-default" href="{{ path('_upload', {id: uploadID }) }}">Dodaj zdjęcia do artykułu</a>

    <a class="btn btn-default" href="{{ path('_index') }}">Anuluj</a>
    {% if photos %}
        <h4>Zdjęcia</h4>
        <ul>
            {% for p in photos  %}
                <li>
                    <span id="{{ p.id }}" class="delete" style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle"></span></span>
                    <span>{{ p.path }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" >
        jQuery.noConflict();
        (function( $ ) {
            $(function() {
                $('.delete').click( function() {
                    var id = $(this).attr('id');
                    $.get( "{{ asset('app.php/deletePhoto/') }}"+id, function() {
                        location.href = document.location.href;
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}
