{% extends 'BitNoiseBundle::layout.html.twig' %}

{% block head %}
    <link href="{{ asset('css/jquery.switchButton.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block pager %}
    <li class="previous"><a href="{{ path('_add') }}">Dodaj artykuł</a></li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table">
            <tr style="background-color: lightgray;">
                <th>Nazwa</th>
                <th>Data dodania</th>
                <th>Aktywny</th>
                <th>Akcje</th>
            </tr>
        {% for article in articles %}
            <tr style="border-bottom: 1px solid lightgray;">
                <td><a href="{{ path('_view', {id: article.id}) }}">{{ article.title }}</a></td>
                <td>{{ article.created is empty ? "" : article.created|date('d/m/Y') }}</td>
                <td id="{{ article.id }}" class="check">
                    <input type="checkbox" {% if article.active == 1 %} checked="" {% endif %} class="switch">
                <td>
                    <a href="{{ path('_edit', {id: article.id}) }}">Edytuj</a>
                    <a href="{{ path('_delete', {id: article.id}) }}">Usuń</a>
                    <span id="{{ article.lp }}" style="cursor: pointer;" class="glyphicon glyphicon-circle-arrow-up"></span>
                    <span id="{{ article.lp }}" style="cursor: pointer;" class="glyphicon glyphicon-circle-arrow-down"></span>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <ul class="pagination pagination-sm">
    {% if page > 1 %}
        <li><a href="{{ path('_index') ~ 1}}">&laquo;</a></li>
    {% endif %}
    {% for i in range(1,(count // 5) + 1) %}
        <li {% if page == i %} class="active" {% endif %}><a href="{{ path('_index') ~ i }}">{{ i }} {% if page == i %} <span class="sr-only">(current)</span> {% endif %}</a></li>
    {% endfor %}
    {% if page < (count // 5) + 1 %}
        <li><a href="{{ path('_index') }} {{ (count // 5) + 1 }}">&raquo;</a></li>
    {% endif %}
    </ul>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"  src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript"  src="{{ asset('js/jquery.switchButton.js') }}"></script>
    <script type="text/javascript" >
        jQuery.noConflict();
        (function( $ ) {
            $(function() {
                $('.switch').switchButton();
                $(".check >").click(function() {
                    var id = $(this).attr('id');
                    $.get( "{{ asset('app.php/active/') }}"+id);
                });
                $(".check > >").click(function() {
                    var id = $(this).attr('id');
                    $.get( "{{ asset('app.php/active/') }}"+id);
                });
                $.each( $('.check'), function(i, check) {
                    var id = $(this).attr('id');
                    $('.switch-button-label', check).each( function() {
                        $(this).attr('id', id);
                    });
                    $('.switch-button-background', check).attr('id',id);
                    $('.switch-button-button', check).attr('id',id);
                })
                $('.glyphicon-circle-arrow-up').click( function() {
                    var id = $(this).attr('id');
                    $.get("{{ asset('app.php/goup/') }}"+id, function(){
                        location.href = "{{ path('_index', {page: page}) }}";
                    });
                });
                $('.glyphicon-circle-arrow-down').click( function() {
                    var id = $(this).attr('id');
                    $.get("{{ asset('app.php/godown/') }}"+id, function() {
                        location.href = "{{ path('_index', {page: page}) }}";
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}
