{% extends 'BitNoiseBundle::layout.html.twig' %}

{% block pager %}
    <li class="previous"><a href="{{ path('_edit', {id: uploadID}) }}">Powrót</a></li>
{% endblock %}

{% block content %}

    <ul>
        {% for p in photos  %}
            <li>
                <span id="{{ p.id }}" class="delete" style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle"></span></span>
                <span>{{ p.path }}</span>
            </li>
        {% endfor %}
    </ul>


    {{ form(form) }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" >
        jQuery.noConflict();
        (function( $ ) {
            $(function() {
                $('.delete').click( function() {
                    var id = $(this).attr('id');
                    $.get( "{{ asset('app.php/deletePhoto/') }}"+id, function() {
                        location.href = document.location.href;
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}