{% extends 'BitNoiseBundle::layout.html.twig' %}

{% block head %}
    <link href="{{ asset('css/jquery.fancybox.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block pager %}
    <li class="previous"><a href="{{ path('_index') }}">Powrót</a></li>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content | nl2br }}</p>
    </div>

    {% if photos %}
    <h2>Galeria</h2>
    <div class="row">
        {% for p in photos %}
            {% set d = 'uploads/images/' ~ p.path %}
            <div class="col-xs-6 col-md-3"><a class="fancybox" rel="group" href="../../{{ d }}"><img class="thumbnail" src="{{ d | apply_filter('my_thumb') }}" /></a></div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript"  src="{{ asset('js/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript"  src="{{ asset('js/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}
